<h1>New Dose</h1>

<%= simple_form_for [@cocktail, @dose] do |f|%>
<%= f.input :description %>
<%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
<%= f.submit %>
<% end %>
<%= link_to 'Back', cocktail_path(@cocktail) %>